* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

:root {
    --text--color-gray: #696d76;
    --text--btn--color-black: #212832;
    --text--btn--color-violet: #7264d6;
}

body {
    font-size: 1.6rem;
    font-family: "Outfit", sans-serif;
}

form,
input,
button {
    font-family: "Outfit", sans-serif;
}

/* common */
.content {
    width: 1312px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}
/* common */

/* header */
.header {
    background: #131921;
    padding-top: 15px;
    padding-bottom: 12px;
}

.navbar__logo {
    margin-top: 6px;
}

.logo__navbar {
    width: 100px;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar__country {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 18px;
    color: #fff;
    cursor: pointer;
}

.navbar__vn {
    display: flex;
    align-items: center;
    margin-top: -2px;
    gap: 1px;
}

.location__navbar {
    width: 17px;
}

.navbar__location {
    margin-left: -4px;
}

.navbar__delive {
    color: #ccc;
    font-size: 1.3rem;
    font-weight: 400;
}

.navbar__vietnam {
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 2px;
}

.navbar__search {
    flex: 1;
    display: flex;
    align-items: center;
}

.navbar__blog {
    min-width: 51px;
    padding: 14px 4px;
    display: flex;
    align-items: center;
    background: #e6e6e6;
    border-radius: 4px 0 0 4px;
    cursor: pointer;
}

.navbar__all {
    color: #555555;
    font-size: 1.2rem;
    font-weight: 400;
    margin-left: 7px;
}

.navbar__dropdown {
    margin-top: -6px;
    margin-left: 10px;
}

.dropdown__navbar {
    width: 8px;
    height: 6px;
}

.navbar__search {
    position: relative;
    margin-left: 25px;
    flex: 1;
}
.input__search {
    min-width: 623px;
    min-height: 40px;
    outline: none;
    border: none;
    padding-left: 8px;
}

.input__search::placeholder {
    font-size: 1.6rem;
    font-family: "Outfit", sans-serif;
}

.navbar__camera {
    position: absolute;
    left: 92.1%;
    transform: translateX(-92.1%);
}

.camera__navbar {
    width: 20px;
    height: 20px;
}

.search__icon {
    min-width: 45px;
    padding: 9.5px 4px;
    background: #febd69;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa__close {
    position: absolute;
    right: 85px;
    cursor: pointer;
    opacity: 0.6;
    visibility: hidden;
}

.search__icon i {
    font-size: 2.1rem;
    opacity: 0.9;
}

.navbar__citys {
    display: flex;
    align-items: center;
    margin-left: 27px;
    margin-top: 11px;
}

.navbar__flag {
    width: 20px;
}

.flag__navbar {
    width: 20px;
    height: 24px;
}

.navbar__city {
    margin-top: -2px;
    margin-left: 3px;
    font-size: 1.6rem;
    color: #fff;
    font-weight: 500;
}

.navbar__citys--row {
    display: flex;
    align-items: end;
}

.navbar__dropdown--near {
    margin-left: 3px;
}

.navbar__signin {
    margin-left: 17px;
    margin-top: -2px;
    cursor: pointer;
}

.signin {
    font-size: 1.3rem;
    color: #fff;
    font-weight: 400;
    margin-left: 1px;
}

.sign__in--row {
    display: flex;
    align-items: flex-end;
    margin-top: 2px;
}

.account {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 600;
}

.navbar__dropdown--right {
    margin-left: 4px;
}

.navbar__return {
    margin-top: -2px;
    margin-left: 18px;
    cursor: pointer;
}

.return {
    font-size: 1.3rem;
    color: #fff;
    font-weight: 400;
    margin-left: 1px;
    /* margin-top: 1px; */
}

.order {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 600;
}

.return__row {
    margin-top: 2px;
}

.navbar__cart {
    position: relative;
    flex: 1;
    display: flex;
    align-items: flex-end;
    margin-left: 27px;
    cursor: pointer;
}

.cart__img i {
    font-size: 2.6rem;
    color: #fff;
    opacity: 0.9;
}

.cart__title {
    font-size: 1.4rem;
    color: #fff;
    font-weight: 600;
    margin-left: 4px;
}

.cart__notify {
    position: absolute;
    top: -12px;
    right: 20px;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background: #dd0000;
    text-align: center;
}

.notify__number {
    font-size: 1.4rem;
    color: #fff;
}
/* header */

/* menu */
.menu {
    background: #232f3e;
    padding-top: 7px;
    padding-bottom: 3px;
}

.menu__content {
    display: flex;
}

.icon__menu {
    width: 19px;
    height: 29px;
}

.menu__all--row {
    display: flex;
}

.all {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 600;
    margin-top: 7px;
    margin-left: 5px;
}

.menu__list {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 20px;
    margin-top: -3px;
}

.menu__item {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
}
/* menu */

/* baner */
.baner {
    position: relative;
}
.baner__content {
    display: flex;
    overflow: hidden;
}

.img__baner {
    max-width: 100%;
    mask-image: linear-gradient(to bottom, #000000 50%, transparent 100%);
}

.baner__left,
.baner__right {
    transition: all 0.5s;
}

.baner button {
    border: none;
    outline: none;
    width: 84px;
    height: 248px;
    background: transparent;
    cursor: pointer;
    margin-left: 2px;
}

.baner button:hover {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 4px;
}

.baner button i {
    font-size: 4rem;
}

.baner__left {
    position: absolute;
    top: 0;
    left: 0;
}

.baner__right {
    position: absolute;
    top: 0;
    right: 0;
}

/* baner */

/* product */
.product {
    position: relative;
    z-index: 1;
    margin-top: 21px;
}

.product-header {
    margin-top: -290px;
    z-index: 1;
    position: relative;
}

.product__three {
    z-index: 3;
    position: relative;
}
.product__heading {
    font-size: 2.1rem;
    color: #0f1111;
    font-weight: 600;
}

.product__item {
    background: #fff;
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.1);
    max-width: 313px;
    padding: 25px 22px;
}

.product__item--width {
    width: 313px;
}

.product__list {
    display: flex;
    justify-content: space-between;
}

.product__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 11px;
    row-gap: 30px;
    margin-top: 15px;
}

.product__col {
    flex: 1;
}
.img__product {
    width: 130px;
    height: 117px;
    object-fit: cover;
}

.bag__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-bag-shopping {
    font-size: 1.25rem;
    cursor: pointer;
    color: #c45500;
}

.product__name {
    font-size: 1.3rem;
    font-weight: 400;
    color: #5c5e5e;
}

.seemore {
    display: block;
    font-size: 1.4rem;
    font-weight: 400;
    color: #278798;
    margin-top: 47px;
}

.img__product--pc {
    width: 270px;
    height: 306px;
}

.img__product--watch {
    width: 270px;
    height: 278px;
}
.shopnow {
    display: block;
    font-size: 1.4rem;
    font-weight: 400;
    color: #278798;
    margin-top: 34px;
}

.seemore__bottom {
    margin-top: 39px;
}

.seemore__top {
    margin-top: 46px;
}

.seemore__one {
    margin-top: 25px;
}

.seemore__gaming {
    margin-top: 46px;
}

.seemore__topic {
    margin-top: 19px;
}

.shopnow__bottom {
    margin-top: 40px;
}

.topic__row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.img__bestsell--topic {
    display: block;
    width: 266px;
    height: 187px;
}

.bestsell__topic {
    width: 60px;
    height: 50px;
    border: 2px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.bestsell__topic.active {
    border-color: #278798;
}

.bestsell__topic--row {
    display: flex;
    justify-content: space-between;
    max-width: 268px;
    margin-top: 10px;
}

.topic__name {
    font-size: 2.2rem;
    margin-top: 10px;
    font-weight: 600;
}

.topic__price {
    font-size: 1.8rem;
    margin-top: 10px;
    font-weight: 500;
}
/* product */

/* bestsell */
.bestsell {
    margin-top: 21px;
    position: relative;
    z-index: 3;
}

.bestsell__content {
    padding: 27px 21px 0 21px;
    background: #fff;
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.1);
}

.bestsell__row::-webkit-scrollbar {
    display: none;
}

.bestsell__row {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: 7px;
    overflow: auto;
    scroll-behavior: smooth;
    transition: scroll-left 0.4s ease-in-out;
}

.bestsell__heading {
    font-size: 2.1rem;
    color: #0f1111;
    font-weight: 600;
}

.img__bestsell {
    width: 268px;
}

.img__bestsell--height {
    height: 100px;
}

.img__bestsell--heights {
    height: 160px;
}

.bestsell__btn {
    position: absolute;
    display: block;
    outline: none;
    border: none;
    width: 45px;
    height: 100px;
    background: #fff;
    opacity: 0.6;
    border-radius: 4px;
    z-index: 1;
    cursor: pointer;
}

.bestsell__btn {
    font-size: 2rem;
}

.bestsell__btn--left {
    top: 72%;
    transform: translateY(-72%);
    left: 30px;
    border: 1px solid #ccc;
    transition: all 0.4s;
}

.bestsell__btn--left:hover {
    opacity: 0.8;
}

.bestsell__btn--right:hover {
    opacity: 1;
}
.bestsell__btn--right {
    top: 72%;
    transform: translateY(-72%);
    right: 30px;
    opacity: 0.8;
    border: 1px solid #ccc;
    transition: all 0.4s;
}
/* bestsell */

/* blogback */
.blogback {
    margin-top: 22px;
    background: #37475a;
}

.blogback__content {
    display: block;
    padding: 22px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blogback__title {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
}
/* blogback */

/* footer */
.footer {
    background: #232f3e;
    padding-bottom: 42px;
}

.footer__content--top {
    padding-top: 48px;

    display: flex;
    justify-content: center;
    gap: 121px;
}

.footer__heading {
    font-size: 1.7rem;
    color: #fff;
    font-weight: 600;
}

.footer__list {
    margin-top: 13px;
}

.footer__item a {
    font-size: 1.45rem;
    font-weight: 400;
    color: #c5babf;
}

.footer__item {
    width: 160px;
}

.footer__item + .footer__item {
    margin-top: 10px;
}

.footer__column:nth-child(2) {
    margin-left: -40px;
}

.footer__line {
    width: 100%;
    height: 1px;
    background-color: #c5babf;
    margin-top: 53px;
    opacity: 0.2;
}

.footer__logo {
    margin-top: 11px;
    width: 78px;
}

.footer__contact {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.footer__contact--row {
    display: flex;
    gap: 10px;
}

.footer__btn {
    display: flex;
    align-items: center;
    min-width: 118px;
    border: 1px solid #868488;
    border-radius: 3px;
    padding: 6px 4px;
}

.img__american {
    width: 18px;
    height: 18px;
}

.fa-earth-americas,
.fa-dollar-sign {
    color: #fff;
    font-size: 1.2rem;
    margin-left: 4px;
}

.btn__title {
    font-size: 1.4rem;
    color: #91979e;
    font-weight: 400;
    margin-left: 10px;
}

.icon__caret {
    display: flex;
    flex-direction: column;
    margin-left: 28px;
    margin-top: -4px;
}

.fa-caret-up,
.fa-caret-down {
    font-size: 1rem;
    color: #91979e;
    opacity: 0.4;
}

.fa-caret-down {
    margin-top: -5px;
}

.footer__btn--width {
    min-width: 150px;
}

.footer__btn--widthshort {
    min-width: 140px;
}

.img__american {
    margin-left: 3px;
}
/* footer */

/* add product */

/* add product */

/* modal */
.modal {
}

.modal__blog {
    position: fixed;
    inset: 0;
    display: flex;
    background: rgba(0, 0, 0, 0.4);
    z-index: 999;
}

.modal__content {
    width: 400px;
    background: #fff;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.2);
    margin: auto;
    padding-bottom: 30px;
}

.modal__title {
    font-size: 2rem;
    margin-top: 20px;
    color: #0f1111;
    text-align: center;
    font-weight: 550;
}

.modal__row {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.btn__modal {
    width: 68px;
    padding: 5px 0;
    border: none;
    font-size: 1.5rem;
    font-weight: 430;
    border-radius: 4px;
    cursor: pointer;
    transition: opacity 0.5s ease;
    text-align: center;
}

.btn__modal:hover {
    opacity: 0.8;
}

.btn__modal--left {
    background: #2292c0;
    color: #fff;
}

.btn__modal--right {
    background: #c5babf;
}
/* modal */

/* search product */
.seacrh__product {
    position: absolute;
    width: 623px;
    background: #fff;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
    top: 56px;
    left: 281px;
    z-index: 20;
    border-top: 1px solid #ccc;
    display: none;
}

.search__product--content {
    width: 605px;
    margin-left: auto;
    margin-right: auto;
}
.search__row {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.search__row {
    margin-top: 5px;
    cursor: pointer;
}

/* .search__row:hover {
    background-color: #ccc;
} */

.img__seacrh--product {
    width: 60px;
    border-radius: 2px;
}

.search__product--title {
    margin-left: 5px;
    font-size: 1.8rem;
    color: #0f1111;
}

.close__product {
    font-size: 1.6rem;
    opacity: 0.6;
    margin-left: auto;
    cursor: pointer;
}
/* search product */
